body {
    font-family: Helvetica;
}


p {
	font-size: 20px;
	text-align: center;
}

h1 {
	font-size: 20px;
	text-align: center;
}

.top {
    padding-top: 150px;
    text-align: center;
}

.history .amount p {
    font-size: 25px;
    padding-top: 14px;
    text-align: center;
    color: #f66;
}

.history .title p {
    font-size: 14px;
    text-align: left;
}

.muted {
    font-size: 20px;
    text-align: center;
}

.header {
	background-color: #fff5e6;
	margin-bottom: 20px;
}


.page {
    -webkit-transition:0.5s;
}

.controll {
    padding: 10px 10px;
}

.navbar {
    margin-bottom: 0;
}


.navbar-inner {
	border-radius: 0;
}

.icon {
    font-family: 'WebSymbolsRegular';
}

.back {
    border-radius: 3px;
    float: left;
    font-size: 16px;
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 5px;
    padding: 10px;
}

.back a {
    color: #fff;
    text-decoration: none;
}
@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
