body {
    font-family: Helvetica;
    background-image: url("../img/background.jpg");
    padding-bottom: 40px;
}

a {
    color: #000;
}

a:link {
    text-decoration: none;
}

.muted {
    font-size: 20px;
    text-align: center;
}

.icon {
    font-family: 'WebSymbolsRegular';
    color: #888;
}

.icon-new {
    font-family: 'WebSymbolsRegular';
    color: #0d0;
    padding-right: 8px;
}

.sidebar-nav {
    background-color: #fff;
    padding: 9px 0;
}

.nav-list {
    padding-right: 0;
    padding-left: 0;
    margin-bottom: 0;
}

.nav-list > li {
    border: solid 1px;
	border-color: #ddd
}
.nav-list > li > a {
    margin-right: 0;
	margin-left: 0;
    padding: 15px 20px 18px;
	font-size: 20px;
}

.nav-list > li > a:hover {
    background-color: #08c;
    text-decoration: none;
}

.nav-list > li > a > span {
    float: right;
}


li.nav-header {
    padding: 15px 25px 18px;
    border: none;
    font-size: 24px;
	color: #000; 
}

.nav-header p {
    color: #08c;
}

.hero-unit {
    padding: 10px;
    margin-left: 20px;
    background-color: #fff;
}
.hero-unit h1 {
    font-size: 22px;
}

.hero-unit p {
    padding: 5px;
}

.hero-unit > a > div {
    float: right;
    font-size: 24px;
}

.saturday {
    background-color: #acf;
}

.sunday {
    background-color: #fac;
}

.form-horizontal .controls {
    margin-left: 50px;
    margin-bottom: 20px;
}

.form-horizontal .control-group {
    margin-bottom: 20px;
    padding-top: 20px;
}

.form-horizontal .control-label {
    float: left;
    padding-top: 5px;
    text-align: left;
    width: 80px;
    font-size: 22px;
}

.form-horizontal img {
    margin-left: 80px;
}

textarea,input[type="time"],input[type="text"] {
    font-size: 22px;
    height: 35px;
}

.btn {
    margin-right: 8px;
    margin-left: 8px;
    padding: 10px;
    font-size: 22px;
    line-height: 28px;
}

.visiting {
    margin-left: 0px;
    padding: 10px;
}

.client {
    margin-left: 0px;
    padding: 10px;
}

.visiting > span {
    float: right;
}

.client > span {
    float: right;
}

.next {
    border-radius: 3px;
    border-radius: 3px;
    float: right;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -5px;
    padding: 10px;
}

.next a {
    color: #fff;
}

.page {
    -webkit-transition:0.5s
}

.back {
    border-radius: 3px;
    border-radius: 3px;
    float: left;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: -5px;
    padding: 10px;
}

.back a {
    color: #fff;
}

legend {
    font-size: 24px;
}

textarea {
    height: 130px;
}

@font-face {
    font-family: 'WebSymbolsRegular';
    src: url('../fonts/websymbols-regular-webfont.eot');
    src: url('../fonts/websymbols-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/websymbols-regular-webfont.woff') format('woff'),
         url('../fonts/websymbols-regular-webfont.ttf') format('truetype'),
         url('../fonts/websymbols-regular-webfont.svg#WebSymbolsRegular') format('svg');
}
